
:root {
    --dar-see-gree: rgb(143, 188, 139);
    --medium-aquamarine: rgb(102, 205, 170);
    --gold: rgb(255, 215, 0);
    --dark-magenta: rgb(139, 0, 139);
    --marron: #eeda95;
    --verde: #b7c27e;
    --verde-light: #d8f171;
    --gris: #9a927b;
    --verde-oliva: #556b2f; 
    --lila: #8a6a6b;
    --morado: #805566;
    --black: #000000;
    --white: #ffffff;
    --red-hat-display: 'Red Hat Display', sans-serif;
    --montserrat-alternates: 'Montserrat Alternates', sans-serif;
  }
  
  .pagination {
      font-family: var(--montserrat-alternates);
      font-size: 15px;
      color: white;
      padding: 5px;
      border: none;
      border-radius: 5px;
    }
  
    .btns {
      background-color: var(--dar-see-gree);
      color: white;
      margin-right: 2px;
      border-radius: 25%;
      width: 40px;
    }
  
    .btns1 {
      background-color: var(--dark-magenta);
      color: white;
      margin-right: 2px;
      border-radius: 25%;
      width: 50px;
    }
    
    .btns:checked {
      background-color: #fff;
      color: var(--black);
    }